@use 'variables';
// @Override : default scale-line style from ol
body .ol-scale-line {
    border-radius: variables.$border-radius;
    left: 50%;
    transform: translateX(-50%);
    background-color: variables.$background-theme-light;
    padding: .5rem;
    box-shadow: variables.$box-shadow-mid;

    &-inner {
        border-width: 2px;
        padding-bottom: 4px;
        border-color: variables.$background-theme-dark;
        color: variables.$background-theme-dark;
    }
}

body.oltb-dark .ol-scale-line {
    background-color: variables.$background-theme-dark;

    &-inner {
        border-color: variables.$background-theme-light;
        color: variables.$color-light;
    }
}