// @Override : default dragzoom style from ol
@use 'variables';
body .ol-dragzoom {
    border-width: 2px;
    border-style: dashed;
    border-color: variables.$color-blue-400;
    background-color: rgba(variables.$color-blue-200, .5);
}